@import 'variables.scss';
@import './mixins/mediaqueries.scss';

// !VA Utility styles
// !VA This is a generic block container - new
.container {
  display: block;
  margin: 0 auto;
}

// !VA This is a generic flex container - new
.container_flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



// !VA Section styles
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  // height: calc(100vh - 113px);
  // !VA For Home, background is primary color. For other pages, it's currently $content_bg_color
  background: $content_bg_color;
}

// !VA In Home, section_content lives on the $primary_color background set in .section. None of the other pages have this two-toned scheme, at least for now. 
.section_content {
  @include mphone {
    width: 365px;
    padding: 0 .75rem 0;
  }
  @include lphone {
    width: 404px;
    padding: 0 .75rem 0;
  }
  @include tablet {
    width: 758px;
  }
  @include desktop {
    width: 960px;
    padding: 0 .75rem 0;
  }
  @include ldesktop {
    width: 1000px;
  }
  position: relative;
  width: 310px;
  height: 100%;
  // !VA Bump this element down to compensate for negative margin to cover border-radius -.75rem margin on head 
  // top: 1rem;
  padding: 0 .25rem 0;
  // margin: 0 0 2rem;
  // !VA Use primary_color to fill space created by flex/justify-content: space-around
  background: $primary_color;
  background: $content_bg_color;
  color: $dark_text_color; 
}

.head {
  // !VA 2024
  position: relative;
  width: 100%;
  padding: .5rem;
  background: $home_bg_color;
}

.head_title {
  @include mphone {
    font-size: $mphoneSmallFontSize;
    line-height: $mphoneSmallLineHeight;
    padding: .188rem 1rem;
  }
  @include lphone {
    font-size: $lphoneSmallFontSize;
    line-height: $lphoneSmallLineHeight;
    padding: .188rem 2rem;
  }
  @include tablet {
    font-size: $tabletSmallFontSize;
    line-height: $tabletSmallLineHeight;
  }
  @include desktop {
    padding: .25rem 0 .375rem;
    font-size: $desktopSmallFontSize;
    line-height: $desktopSmallLineHeight;
  }
  @include ldesktop {
    padding: .125rem 0 .25rem;
    padding: .5rem 0 .5rem;
    font-size: $ldesktopSmallFontSize;
    line-height: $ldesktopSmallLineHeight;
  }
  color: $light_text_color;
  font-family: $secondary_font;
  font-family: $inter_font;
  // !VA 2024
  // font-size: 1.375rem;
  // line-height: 1.75rem;
  font-size: $rootSmallFontSize;
  line-height: $rootSmallLineHeight;
  font-weight: 400;
  text-align: center;
}

.content_heading {
  @include mphone {
    font-size: $mphoneLargeFontSize;
    line-height: $mphoneLargeLineHeight;
  }
  @include lphone {
    font-size: $lphoneLargeFontSize;
    line-height: $lphoneLargeLineHeight;
  }
  @include tablet {
    margin: .5rem auto 0;
    font-size: $tabletLargeFontSize;
    line-height: $tabletLargeLineHeight;
  }
  @include desktop {
    font-size: $desktopLargeFontSize;
    line-height: $desktopLargeLineHeight;
  }
  @include ldesktop {
    font-size: $ldesktopLargeFontSize;
    line-height: $ldesktopLargeLineHeight;
  }
  display: block;
  margin: .25rem auto 0;
  width: 100%;
  color: $dark_text_color;
  font-family: $secondary_font;
  font-size: $rootLargeFontSize;
  line-height: $rootLargeLineHeight;
  font-weight: 500;
  text-align: center;
}

// !VA The 'I'm looking for info about' text
.content_caption_mobile {
  @include mphone {
    font-size: 1.188rem;
    line-height: 1.188rem;
  }
  @include lphone {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include ldesktop {
    display: none;
  }
  margin: .75rem .5rem 0;
  color: $dark_text_color;
  font-size: 1.125rem;
  line-height: 1.125rem;
  text-align: center;
  font-weight: 700;
}


.cards {
  @include lphone {
    margin: 0 0 1.25rem;
  }
  @include tablet {
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    margin: 0 0 1.25rem;
  }
  @include desktop {
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    margin: .25rem 0 1.25rem;
  }
  @include ldesktop {
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    margin: .25rem 0 2rem;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 1rem;
}

// !VA The CSS for these cards is incredibly convoluted because you can't include more than one element in the link because of SEO. If Google sees more than one phrase in the link text, you'll get dinged for link stuffing! So the only thing in that link is the H2. 
// !VA 2024 Switching everything to absolute positioning, this relative positioning is impossible to manage
.card {
  @include tablet {
    width: 50%;
    padding: 0 .5rem;
  }
  @include desktop {
    width: 50%;
    padding: 0 .25rem;
  }
  @include ldesktop {
    width: 50%;
    padding: 0 .5rem;
  }
  // width: 100%;
  margin: .125rem 0 .25rem;
  display: flex;
}

// !VA The complete card content, including go_button, card_link and the child h2, card_content_text and its children, card_subhead and card_list
.card_content {
  @include tablet {
    padding: 0;
    margin: .25rem auto;
  }
  @include desktop {
    margin: 0 .75rem 0;
  }
  @include ldesktop {
    margin: 0 .5rem 0;
  }
  position: relative;
  width: 100%;
  margin: .25rem auto 0;
  // !VA 2024
  border:  1px solid $secondary_accent_color;
  border-radius: 15px;

}

// !VA This is absolutely positioned at top/left 0 and includes the entire card content. BUT the only element whose position depends on it is card_head.
.card_link {
  @include tablet {
    position: absolute; 
  }
  @include desktop {
    position: absolute; 
  }
  @include ldesktop {
    position: absolute; 
  }
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

// !VA Absolutely positioned from top left of card_link, i.e. top left of the card container
.card_head {
  @include mphone {
    top: 30px;
    font-size: $mphoneLargeFontSize;
    line-height: $mphoneLargeLineHeight;
  }
  @include lphone {
    top: 32px;
    font-size: $lphoneLargeFontSize;
    line-height: $lphoneLargeLineHeight;
  }
  @include tablet {
    top: 33px;
    font-size: $tabletLargeFontSize;
    line-height: $tabletLargeLineHeight;
  }
  @include desktop {
    top: 34px;
    font-size: $desktopLargeFontSize;
    line-height: $desktopLargeLineHeight;
  }
  @include ldesktop {
    top: 32px;
    font-size: $ldesktopLargeFontSize;
    line-height: $ldesktopLargeLineHeight;
  }
  display: block;
  // !VA 2024
  position: absolute;
  width: 100%;
  top: 28px;
  padding: 0;
  font-family: $secondary_font;
  color: $dark_text_color;
  font-size: $rootLargeFontSize;
  line-height: $rootLargeLineHeight;
  font-weight: 500;
  text-align: center;
}
// !VA Container for card_subhead and card_list, i.e. the non-anchor text content of the card. Height of this element determines the vertical position of the card_list ul 
.card_content_text {
  @include mphone {
    height: 72px;
  }
  @include lphone {
    height: 76px;
  }
  @include tablet {
    height: 82px;
  }
  @include desktop {
    height: 86px;
  }
  @include ldesktop {
    height: 96px;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 74px;
  color: $dark_text_color;
  font-family: $primary_font;
  text-align: left;
}

// !VA Absolutely positioned to appear directly below card_head
.card_subhead {
  @include mphone {
    top: 55px;
    font-size: $mphoneLargeFontSize;
    line-height: $mphoneXXSLineHeight;
  }
  @include lphone {
    top: 59px;
    font-size: $lphoneLargeFontSize;
    line-height: $lphoneXXSLineHeight;
  }
  @include tablet {
    top: 62px;
    font-size: $tabletLargeFontSize;
    line-height: $tabletXXSLineHeight;
  }
  @include desktop {
    top: 64px;
    font-size: $desktopLargeFontSize;
    line-height: $desktopXSLineHeight;
  }
  @include ldesktop {
    top: 65px;
    font-size: $ldesktopLargeFontSize;
    line-height: $ldesktopSmallLineHeight;
  }
  display: block;
  top: 52px;
  font-family: $secondary_font;
  font-size: $rootLargeFontSize;
  line-height: $rootXXSLineHeight;
  // letter-spacing: .01rem;  
  font-weight: 400;
  text-align: center;
  position: absolute;
  width: 100%;
}

.card_list {
  @include ldesktop {
    height: 2.125rem;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.75rem;
  list-style-type: none;
  // background: $test_color;
  background: $primary_accent_color;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card_list_item {
  @include mphone {
    font-size: $mphoneXSFontSize;
    line-height: $mphoneXSLineHeight;
  }
  @include lphone {
    font-size: $lphoneXSFontSize;
    line-height: $lphoneXSLineHeight;
  }
  @include tablet {
    padding: .25rem 0 .25rem;
    font-size: $tabletXSFontSize;
    line-height: $tabletXSLineHeight;
  }
  @include desktop {
    font-size: $desktopXSFontSize;
    line-height: $desktopXSLineHeight;
  }
  @include ldesktop {
    font-size: $ldesktopXSFontSize;
    line-height: $ldesktopXSLineHeight;
  }
  color: $light_text-color;
  font-family: $inter_font;
  font-size: $rootXSFontSize;
  line-height: $rootXSLineHeight;
  font-weight: 300;
}


// !VA margin-bottom sets the distance from the bottom of the card head to the top of the card subhead.
.go_button {
  @include mphone {
    margin-bottom: 2.125rem !important;
  }
  @include lphone {
    margin-bottom: 2.188rem !important;
  }
  @include tablet {
    margin-bottom: 2.313rem !important;
  }
  @include desktop {
    margin-bottom: 2.375rem !important;
  }
  @include ldesktop {
    margin-bottom: 2.938rem !important;
  }
  display: flex;
  justify-content: center;
  height: 1.75rem;
  margin-bottom: 1.563rem !important;
  background-color: $primary_accent_color;
  color: $primary_link_color;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.go_button_label {
  padding-right: .25rem;
  font-family: $primary_font;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;
  color: $primary_color;
}
.go_button_svg {
  color: $primary_color;
  height: 1.5rem;
}
