@import 'variables.scss';
@import './mixins/mediaqueries.scss';

// !VA NOTE: ALL STYLES FOR THE MDX BODY CONTENT ARE IN GLOBALS.SCSS BECAUSE CSS MODULES AREN'T SUPPORTED INSIDE MDX FILES, OR AT LEAST I COULDN'T GET IT TO WORK


// !VA Utility classes
// !VA ---------------

// !VA Wrap a heading to limit the width of the rule to the heading text
.container_inline_block {
  display: inline-block;
}

// !VA 2024 Not used, but keep it just in case
.rule_underline {
  width: auto;
  height: 1px;
  margin: .125rem auto 0;
  border-width: 0;
  background-color: #959595;
  // display: inline-block;
}

// VA! Post Navigation
// !VA 2024.04.04 Appears to be deprecated
.post_nav {
  @include ldesktop {
    padding-top: 1rem;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.blog_post_nav_link {
  @include lphone {
    width: 220px;
    height: 2rem;
    padding: .313rem 0 0;
    font-size: $lphoneNormalFontSize;
    line-height: $lphoneNormalLineHeight;
  }
  @include tablet {
    width: 220px;
    height: 2rem;
    padding: .313rem 0 0;
    font-size: $tabletNormalFontSize;
    line-height: $tabletNormalLineHeight;
  }
  @include desktop {
    width: 230px;
    height: 2.25rem;
    margin: .5rem 0 0;
    padding: .375rem 0 0;
    font-size: $desktopNormalFontSize;
    line-height: $desktopNormalLineHeight;
  }
  @include ldesktop {
    width: 230px;
    height: 2.25rem;
    margin: .5rem 0 0;
    padding: .375rem 0 0;
    font-size: $ldesktopNormalFontSize;
    line-height: $ldesktopNormalLineHeight;
  }
  // width: 200px;
  display: flex;
  justify-content: center;
  padding: .125rem 0 0;
  font-size: $rootNormalFontSize;
  line-height: $rootNormalLineHeight;
  color: $secondary_link_color;
  // border-radius: 1rem;
  // background-color: $primary_accent_color;
}

// !VA 2024 This is unneeded
.blog_post_nav_link_text {
  // !VA 2024
}

.go_button_label {
  padding-right: .25rem;
  font-family: $primary_font;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;
  color: $primary_color;
}

.go_button_svg {
    @include lphone {
      height: 1.75rem;
    }
    @include tablet {
      height: 1.75rem;
    }
    @include desktop {
      height: 2rem;
    }
    @include ldesktop {
      height: 2.125rem;
    }
  color: $secondary_link_color;
  height: 1.5rem;
}

// !VA Section styles
// !VA 2024.04.04 Appears in More, Light, Dark and Blog...consolidate in globals.scss?
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: .5rem;
  background: $content_bg_color;
}


// !VA This element is the content root of all the blog components
.section_content {
  width: 100%;
}

// !VA This container is in the Post.js component
.post_content {
  @include mphone {
    padding: 0 1.5rem 2rem 1rem;
  }
  @include lphone {
    padding: 0 1.75rem 2rem 1rem;
  }
  @include tablet {
    padding: 0 4rem 3rem 3rem;
  }     
  @include desktop {
    width: 800px;
    padding: 0 0 3rem;
  }
  @include ldesktop {
    width: 1200px;
    padding: 0 0 3rem;
  }
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem 2rem .75rem;
  background: $content_bg_color;
  color: $dark_text_color;
}

// !VA Blog Index Page
// !VA Refers to the BLOG header, not the site header
.header {
  @include mphone {
    margin: 0 auto .75rem;
  }
  @include lphone {
    margin: 0 auto .875rem;
  }
  @include tablet {
    margin: 0 auto 1rem;
  }
  @include desktop {
    margin: 0 auto 1rem;
  }
  @include ldesktop {
    margin: 0 auto 1rem;
  }
  display: flex;
  justify-content: center;
  width: 100%;
  // !VA 2024
  margin: 0 auto .75rem;
  background: $home_bg_color;
}

.header_content {
  width: 100%;
  display: flex;
  justify-content: center;
}



// !VA 2024.04.10 This is the same as in the Light module.
.heading_head {
  @include mphone {
    padding: .25rem 0;
    font-size: $mphoneNormalFontSize;
    line-height: $mphoneNormalLineHeight;
  }
  @include lphone {
    padding: .25rem 0;
    font-size: $lphoneNormalFontSize;
    line-height: $lphoneNormalLineHeight;
  }
  @include tablet {
    padding: .5rem 0 .375rem;
    font-size: $tabletNormalFontSize;
    line-height: $tabletNormalLineHeight;
  }
  @include desktop {
    padding: .5rem 0 .375rem;
    font-size: $desktopNormalFontSize;
    line-height: $desktopNormalLineHeight;
  }
  @include ldesktop {
    padding: .5rem 0 .375rem;
    font-size: $ldesktopNormalFontSize;
    line-height: $ldesktopNormalLineHeight;
  }
  display: block;
  width: 100%;
  padding: .25rem 0;
  // !VA 2024.04.10
  // !VA Add left padding to compensate for figure not displaying on smallest phone
  // margin: 0 0 0 1rem;
  color: $light_text_color;
  font-family: $inter_font;
  font-size: $rootNormalFontSize;
  line-height: $rootNormalLineHeight;
  font-weight: 400;
  // letter-spacing: .05rem;
  text-align: center;
}

.post_listings {
  @include mphone {
    padding: .5rem .75rem;
  }
  @include lphone {
    padding: .5rem 1rem;
  }
  @include tablet {
    width: 740px;
    padding: .25rem 0;
  }
  @include desktop {
    width: 860px;
    padding: .25rem 0;
  }
  @include ldesktop {
    width: 960px;
    display: block;
    margin: 0 auto;
    padding: .5rem 0 2rem;
  }
  display: block;
  margin: 0 auto;
  padding: 1rem .75rem;
  background: $content_bg_color;
}

// !VA 2024.04.04 Appears only in Blog module - only applied in blog content
// !VA Used in PostListing.js
.post_listing {
  // @include mphone {
  //   padding: 0 0 .25rem;
  // }
  // @include lphone {
  //   padding: 0 0 .5rem;
  // }
  // @include tablet {
  //   padding: 0 1.5rem 0 0;
  // }
  // @include desktop {
  //   padding: 0 0 1rem;
  // }
  // @include ldesktop {
  //   padding: 0 0 1rem;
  // }
  // display: block;
  // width: 100%;
  // margin: 0 auto;
  // background: $content_bg_color;
  // color: $dark_text_color;
  position: relative;
  width: 100%;
  margin: 0.25rem auto 0;
}

// !VA The link is attached to the heading and takes up the entire parent container, i.e. post_listing
.post_listing_link {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin: 0 0 1.25rem .25rem;
  
  @include tablet {
    position: absolute; 
  }
  @include desktop {
    position: absolute; 
  }
  @include ldesktop {
    position: absolute; 
  }
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-left: .575rem solid $primary_color;
  z-index: 1;
}


.post_listing_content {
    // !VA display block to float image right
    // @include tablet {
    //   display: block;
    // }
    // @include desktop {
    //   display: block;
    //   padding-left: .75rem;
    // }
    // @include ldesktop {
    //   display: block;
    //   padding-left: .75rem;
    // }
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // padding-left: .5rem;
    // align-items: center;
    // color: $dark_text_color;
    @include mphone {
      margin: .5rem .5rem 1rem 1.5rem;
      padding: .25rem 0;
    }
    @include lphone {
      margin: .5rem .5rem 1rem 1.5rem;
      padding: .25rem 0;
    }
    @include tablet {
      margin: 2rem 0 2rem 2rem;
    }
    @include desktop {
      margin: 2rem 0 2rem 2rem;
    }
    @include ldesktop {
      margin: 2rem 0 2rem 2rem;
    }
    position: relative;
    display: block;
    min-height: 120px;
    margin: .5rem .5rem 1rem 1.5rem;
    padding: .25rem 0;
    color: $dark_text_color;
    
}

.post_listing_text {
    position: relative;
    min-height: 120px;
}

// !VA 2024.04.04 Appears only in Blog module - only applied in blog content
.post_listing_date {
    @include mphone {
      font-size: 1.063rem;
      line-height: 1.313rem;
    }
    @include lphone {
      // margin-top: .25rem;
      font-size: 1.125rem;
      line-height: 1.438rem;    
    }
    @include tablet {
      // padding-top: .5rem;
      font-size: 1.063rem;
      line-height: 1.5rem;
      text-align: left;
    }
    @include desktop {
      font-size: 1.188rem;
      line-height: 1.75rem;
      text-align: left;
    }
    @include ldesktop {
      padding-top: .5rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: left;
    }
    // !VA 2024
  font-size: 1rem;
  line-height: 1.313rem;
  width: 100%;
  font-style: italic;
  text-align: left;
}

// !VA 2024.04.04 Appears only in Blog module - only applied in blog content
.post_listing_title {
  @include mphone {
    font-size: 1.125rem;
    line-height: 1.438rem;
  }
  @include lphone {
    padding: .25rem 0;
    font-size: 1.188rem;
    line-height: 1.313rem;
  }
  @include tablet {
    padding: .25rem 0;
    font-size: 1.313rem;
    line-height: 1.75rem;
  }
  @include desktop {
    padding: .25rem 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  @include ldesktop {
    padding: .25rem 0;
    font-size: 1.688rem;
    line-height: 2.125rem;
  }
  padding: .25rem 0;
  font-family: $primary_font;
  // padding: .125rem .5rem 0 0;
  // !VA 2024
  font-size: $rootNormalFontSize;
  line-height: $rootNormalLineHeight;
  text-decoration: underline;
  
}

// !VA 2024.04.04 Appears only in Blog module - only applied in blog content
.post_listing_excerpt {
  @include mphone {
    font-size: 1.125rem;
    line-height: 1.313rem;
  }
  @include lphone {
    font-size: 1.125rem;
    line-height: 1.313rem;
  }
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  @include desktop {
    padding: .25rem  0 0 0;
    font-size: 1.438rem;
    line-height: 1.75rem;
  }
  @include ldesktop {
    padding: .25rem  0 0 0;
    font-size: 1.438rem;
    line-height: 1.75rem;
  }
  padding: .25rem 0;
  font-size: 1.063rem;
  line-height: 1.313rem;
  text-align: left;
}

.post_listing_figure {
  @include tablet {
    display: block;
    width: 180px;
    height: 110px;
    top: .5rem;
    margin: 0 0 0 1.25rem;
  }
  @include desktop {
    display: block;
    width: 200px;
    height: 120px;
    top: .5rem;
    margin: 0 0 0 1.5rem;
    // padding: 0  0 0 1rem;
  }
  @include ldesktop {
    display: block;
    width: 200px;
    height: 120px;
    top: .5rem;
    margin: 0 0 0 1.5rem;
  }
  display: none;
  position: relative;
  float: right;
  clear: both;
}

.post_listing_figure_image {
  width: 100%;
  height: auto;
}


// !VA STYLES FOR MDX BODY 
// !VA CSS modules are used for the elements corresponing to MDX markup and passed as props. See Post.js for JSX. Components used in the MDX files are in /blog_components; each component imports the Blog.module.scss into its own component. 


// !VA 2024 Post styles from the MDX files. Watch this, there are duplicate styles here.
.post {
  @include mphone {
    padding: 1rem .75rem;
  }
  @include lphone {
    padding: 1rem 1rem;
  }
  @include tablet {
    width: 740px;
    padding: 1rem 1.5rem;
  }
  @include desktop {
    width: 860px;
    padding: 0;
  }
  @include ldesktop {
    width: 960px;
    display: block;
    margin: 0 auto;
    padding: 1rem 0 2rem;
  }
  display: block;
  margin: 0 auto;
  padding: 1rem .75rem;
  background: $content_bg_color;
}

// !VA Applied to the H1, i.e. post title as props, see Post.js
.post_head {
  @include mphone {
    margin: 0 0 .5rem;
    font-size: $mphoneXXLFontSize;
    line-height: $mphoneXXLLineHeight;
    text-align: center;
  }
  @include lphone {
    margin: 0 0 .5rem;
    font-size: $lphoneXXLFontSize;
    line-height: $lphoneXXLLineHeight;
    text-align: center;
  }
  @include tablet {
    font-size: $tabletXXLFontSize;
    line-height: $tabletXXLLineHeight;
    text-align: left;
  }
  @include desktop {
    margin: 0 0 .5rem;
    font-size: $desktopXXLFontSize;
    line-height: $desktopXXLLineHeight;
    text-align: left;
  }
  @include ldesktop {
    margin: 0 0 .5rem;
    font-size: $ldesktopXXLFontSize;
    line-height: $ldesktopXXLLineHeight;
    text-align: left;
  }
  margin: 0 0 .5rem;
  padding: 0;
  font-family: $secondary_font;
  font-size: $rootXXLFontSize;
  line-height: $rootXXLLineHeight;
  font-weight: 500;
  text-align: center;
}

.post_subhead {
  @include mphone {
    margin: 0 0 .5rem;
    font-size: $mphoneLargeFontSize;
    line-height: $mphoneLargeLineHeight;
    text-align: center;
  }
  @include lphone {
    margin: 0 0 .5rem;
    font-size: $lphoneLargeFontSize;
    line-height: $lphoneLargeLineHeight;
    text-align: center;
  }
  @include tablet {
    font-size: $tabletLargeFontSize;
    line-height: $tabletLargeLineHeight;
    text-align: left;
  }
  @include desktop {
    margin: 0 0 .5rem;
    font-size: $desktopLargeFontSize;
    line-height: $desktopLargeLineHeight;
    text-align: left;
  }
  @include ldesktop {
    margin: 0 0 .5rem;
    font-size: $ldesktopLargeFontSize;
    line-height: $ldesktopLargeLineHeight;
    text-align: left;
  }
  margin: 0 0 .5rem;
  padding: 0;
  font-family: $secondary_font;
  font-size: $rootLargeFontSize;
  line-height: $rootLargeLineHeight;
  font-weight: 500;
  text-align: center;
}

// !VA Used for long subheads, as an alternative to bullets. 
.post_h3 {
  @include mphone {
    margin: .375rem 0 0;
    font-family: $secondary_font;
    font-size: 1.125rem;
    line-height: 1.438rem;
  }
  @include lphone {
    margin: .375rem 0 .25rem;
    font-family: $secondary_font;
    font-size: 1.188rem;
    line-height: 1.5rem;
  }
  @include tablet {
    margin: .375rem 0 .25rem;
    font-family: $secondary_font;
    font-size: 1.313rem;
    line-height: 1.75rem;
  }
  @include desktop {
    margin: .375rem 0 .25rem;
    font-family: $secondary_font;
    font-size: 1.375rem;
    line-height: 1.813rem;
  }
  @include ldesktop {
    margin: .375rem 0 .25rem;
    font-family: $secondary_font;
    font-size: 1.438rem;
    line-height: 1.875rem;
  }
  margin: .375rem 0 0;
  font-family: $secondary_font;
  font-size: 1.063rem;
  line-height: 1.375rem;
}

.post_h4 {
  @include lphone {
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  @include tablet {
    margin: 0 0 .5rem;
    text-align: left;
    font-size: 1.188rem;
    line-height: 1.688rem;
  }
  @include desktop {
    margin: .5rem 0 .5rem;
    font-size: 1.313rem;
    line-height: 1.75rem;
    text-align: left;
  }
  @include ldesktop {
    margin: .5rem 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: left;
  }
  margin: 0 0 .5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}


// !VA Applied to the H5 as props, see Post.js
.post_date {
    // !VA We need to override the default p here specifically for the date extracted from frontmatter
    @include mphone {
      margin: 0;
      font-size: .875rem !important;  
      line-height: 1.25rem;
    }
    @include lphone {
      margin: .125rem 0 .25rem;
      font-size: .938rem !important;  
      line-height: 1.25rem;
    }
    @include tablet {
      margin: .5rem 0;
      font-size: 1.125rem !important;
      text-align: left;
    }
    @include desktop {
      margin: .5rem 0;
      font-size: 1.188rem !important;
      text-align: left;
    }
    @include ldesktop {
      margin: .5rem 0;
      font-size: 1.188rem !important;
      text-align: left;
    }
    width: 100%;
    margin: 0;
    font-size: .875rem !important;
    line-height: 1.25rem;
    font-style: italic;
    text-align: center;
}

.post_text {
  @include mphone {
    margin: .375rem 0 0;
    font-size: $mphoneLargeFontSize;
    line-height: $mphoneLargeLineHeight;
  }
  @include lphone {
    margin: .375rem 0 .25rem;
    font-size: $lphoneLargeFontSize;
    line-height: $lphoneLargeLineHeight;
  }
  @include tablet {
    margin: .375rem 0 .25rem;
    font-size: $tabletLargeFontSize;
    line-height: $tabletLargeLineHeight;
  }
  @include desktop {
    margin: .375rem 0 .25rem;
    font-size: $desktopLargeFontSize;
    line-height: $desktopLargeLineHeight;
  }
  @include ldesktop {
    margin: .375rem 0 .25rem;
    font-size: $ldesktopLargeFontSize;
    line-height: $ldesktopLargeLineHeight;
  }
  margin: .375rem 0 0;
  font-family: $primary_font;
  font-size: $rootLargeFontSize;
  line-height: $rootLargeLineHeight;
}


.post_ul {
  @include tablet {
  margin: 0 2rem 0 1rem;
  }
  @include desktop {
    margin: 0 2rem 0 2rem;
  }
  @include ldesktop {
    margin: .5rem 2rem 0;
  }
  margin: 0 .75rem 0 0;
  list-style-type: disc;
  
  color: $dark_text_color;
}

.post_li {
  @include mphone {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  @include lphone {
    font-size: 1.188rem;
    line-height: 1.75rem;
  }
  @include tablet {
    // margin-left: 2rem;
    font-size: 1.25rem;
    line-height: 1.688rem;
  }
  @include desktop {
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 2.125rem;
  }
  @include ldesktop {
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.125rem;
  }
  font-family: $primary_font;
  color: $dark_text_color;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.413rem;
  text-align: left;
  width: 100%;
  margin: 0 0 0 1rem;
  padding-left: 0;
}


// !VA 2024 Hero image and Blog.module.scss import in HeroImage.js and Youtube.js
.post_hero {
  @include mphone {
    margin: .5rem auto;
    width: 260px;
  }
  @include lphone {
    margin: .75rem auto .5rem;
    width: 280px;
    height: auto;
  }
  @include tablet {
    float:right;
    clear: both;
    width: 280px;
    margin: 1rem auto;
    padding: 0 0 1rem 1.5rem;
  }
  @include desktop {
    float:right;
    clear: both;
    width: 320px;
    margin: 1rem 1rem 0 1rem;
  }  
  @include ldesktop {
    float:right;
    clear: both;
    width: 340px;
    margin: 1rem 1rem 0 1.5rem;
  }
  display: block;
  margin: 0 auto;
  float: none;
  clear: both;
  width: 220px;
  height: auto;
}


// !VA 2024 Hero image and Blog.module.scss import in HeroImage.js and Youtube.js
.youtube_embed {
  @include mphone {
    margin: .5rem auto;
    width: 325px;
    height: 191px;
  }
  @include lphone {
    margin: 0 auto .75rem;
    width: 365px;
    height: 215px;
  }
  @include tablet {
    // float:right;
    // clear: both;
    width: 360px;
    // margin: -6rem 1rem 0 1rem;
    margin: 1rem auto;
  }
  @include desktop {
    float:right;
    clear: both;
    width: 400px;
    margin: 1rem 1rem 0 1rem;
  }  
  @include ldesktop {
    float:right;
    clear: both;
    width: 500px;
    margin: 1rem 1rem 0 3rem;
  }
  iframe {
    @include mphone {
      width: 325px;
      height: 191px;
    }
    @include lphone {
      width: 365px;
      height: 215px;
    }
    @include tablet {
      width: 460px;
      height: 271px;
    }
    @include desktop {
      width: 400px;
      height: 235px;
    }
    @include ldesktop {
      width: 500px;
      height: 294px;
    }
    width: 280px;
    height: auto;
  }
  display: block;
  margin: 0 auto;
  float: none;
  clear: both;
  width: 280px;
  height: auto;
}

.post_hero_image {
  width: 100%;
  height: auto;
}

// !VA 2024 Content and Blog.module.scss import in Disclaimer.js
.post_disclaimer {
  @include lphone {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  @include tablet {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  @include desktop {
    font-size: 1.188rem;
    line-height: 1.563rem;
  }
  @include ldesktop {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  font-size: .875rem;
  line-height: 1.125rem;
}

.post_disclaimer_hr {
  margin: 1rem;
  // color: #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

// !VA 2024 In Sharebar.js, Blog.module.scss imported there
.post_sharebar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  // height: 2.5rem;
  padding: 0 1rem;
}

.post_sharebar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.post_sharebar_item_icon {
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
  color: $secondary_color;
}


