@import 'variables.scss';
@import './mixins/mediaqueries.scss';

/* !VA 2024.04.06
Removed styles due to not found in JS. If you need to restore any of these, git back to any commit before 830a1ad 2024.04.06A - Purging  unused SCSS
--------------------------------------
.hero_head_rule
.blog_header_description
.content_list_item_or
.content_list_item_subtext
.figure_large
.figure_large_image
.blog - and all styles starting with blog_ - these were all moved to Blog.module.scss I think
.blog_header_head
.blog_header_legend
.blog_header_title
.blog_header_rule
.blog_header_subtitle
.blog_header_figure
.blog_header_figure_image
.blog_listing
.blog_list
.blog_list_item
.blog_list_item_svg
.blog_list_item_text
.blog_list_item_description
.blog_item
.figure_md
.figure_image_md
.blog_readmore
*/

// !VA Utility styles
// !VA This is a generic block container - new
.container {
  display: block;
  margin: 0 auto;
}

// !VA 2024.04.05 Only in pages/blog/index.js
.container_inline_block {
  display: inline-block;
}

// !VA This is a generic flex container - new
.container_flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// !VA Section styles
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: .5rem;
  // !VA For Home, background is primary color. For other pages, it's currently $content_bg_color
  background: $primary_color;
}

// !VA In Home, section_content lives on the $primary_color background set in .section. None of the other pages have this two-toned scheme, at least for now. 
.section_content {
  @include mphone {
    width: 365px;
    padding-bottom: .5rem;
  }
  @include lphone {
    width: 404px;
    padding-bottom: .5rem;
  }
  @include tablet {
    width: 758px;
    margin-top: .75rem;
    padding-bottom: 1rem;
  }
  @include desktop {
    width: 960px;
    margin-top: .75rem;
  }
  @include ldesktop {
    width: 1400px;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  width: 310px;
  margin-top: .25rem;
  padding:  0 0 .5rem;
  background: $home_bg_color;
}

.two_column_content {
  @include mphone {
    padding: 0 .75rem 2rem;
  }
  @include lphone {
    padding: 0 1rem 2rem;
  }
  @include tablet {
    padding: 0 2rem 3rem;
  }
  @include desktop {
    padding: 0 3rem 3rem;
  }
  @include ldesktop {
    width: 1400px;
    padding: 0 5.688rem 3rem;
  }
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 .75rem 2rem;
  background: $home_bg_color;
}

.hero {
  @include mphone {
    // Fill this
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
    width: 100%;
  }
  @include ldesktop {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 3rem 2rem 0;
    padding: 2rem 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: .5rem;
}

.hero_head {
  @include mphone {
    padding: .625rem 0;
  }
  @include lphone {
    padding: .625rem 0;
  }
  @include desktop {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 3rem 2rem 0;
  }
  @include ldesktop {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // width: 90%;
    width: 500px;
    margin: 0 auto;
    padding: 2rem 3rem 2rem 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 150px;
  width: 100%;
  padding: .625rem 0;
}

.hero_head_heading {
  @include mphone {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
  }
  @include lphone {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4rem;
  }
  @include tablet {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
  }
  @include desktop {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
  }
  @include ldesktop {
    font-size: 6rem;
    font-weight: 400;
    line-height: 7rem;
  }
  padding-bottom: .25rem;
  color: $light_text_color;
  font-family: $secondary_font;
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 2.125rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.font_massive {
  @include mphone {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.5rem;
  }
  @include lphone {
    display: block;
    padding: .5rem 0 1rem;
    font-weight: 600;
    font-size: 5.5rem;
  }
  @include tablet {
    display: block;
    padding: 1rem 0;
    font-size: 5.5rem;
    font-weight: 600;
  }
  @include desktop {
    display: block;
    padding: .25rem 0 .5rem;
    font-size: 7rem;
    line-height: 7rem;
    font-weight: 600;
  }
  @include ldesktop {
    display: block;
    padding: .25rem 0 .5rem;
    font-size: 9rem;
    line-height: 9rem;
    font-weight: 600;
  }
  display: block;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}

.hero_head_timer {
  @include mphone {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @include lphone {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  @include desktop {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  @include ldesktop {
    font-size: 2rem;
    line-height: 2rem;
  }
  width: 100%;
  color: $primary_color;
  font-family: $primary_font;
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

.hero_video {
  @include mphone {
    width: 100%;
  }
  @include lphone {
    width: 100%;
  }
  @include tablet {
    width: 496px;
  }
  @include desktop {
    width: 420px;
    margin: 0 2rem 0 4rem;
    border: 8px solid #FFF;
  }
  @include ldesktop {
    width: 600px;
    margin: 0 3rem 0 3rem;
    border: 8px solid #FFF;
  }
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 320px;
  // !VA Height is the targest VH value minus the height of hero--content-head. This will allow the image to scale with the device height to accomodate tall phones.
  // height: calc(38vh - 85px);
  border: 4px solid #FFF;
  margin: 0;
  background-color: $home_bg_color;
}

.hero_video_frame {
  @include mphone {
    width: 334px;
    height: 188px;
  }
  @include lphone {
    width: 354px;
    height: 200px;
  }
  @include tablet {
    width: 486px;
    height: 273px;
  }
  @include desktop {
    width: 406px;
    height: 240px;
  }
  @include ldesktop {
    width: 586px;
    height: 336px;
  }
  width: 312px;
  height: 176px;
  margin: 0;
  padding: 0;
}

.hero_video_sharebar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $primary_font;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
}

.icon {
  color: $primary-color;
  font-size: 2rem;
}

.hero_video_sharebar_item {
  display: block;
  width: 3rem;
  padding: .25rem 0 0;
  color: $primary_color;
}

.hero_video-sharebar-label {
  display: block;
  width: 80px;
  color: $primary_color;
}

.content {
  padding-top: .5rem;
}

// !VA This is the H1 that matches with the title tag
.content_head {
  @include mphone {
    padding: 1rem 0 .313rem;
    font-size: $mphoneHeadFontSize;
    line-height: $mphoneHeadLineHeight; 
  }
  @include lphone {
    padding: 1rem 0 .313rem;
    font-size: $lphoneHeadFontSize;
    line-height: $lphoneHeadLineHeight; 
  }
  @include tablet {
    padding: 1rem 0 .25rem;
    font-size: $tabletHeadFontSize;
    line-height: $tabletHeadLineHeight
  }
  @include desktop {
    padding: 1.25rem 0 .25rem;
    font-size: $desktopHeadFontSize;
    line-height: $desktopHeadLineHeight
  }
  @include ldesktop {
    padding: 1.25rem 0 .5rem;
    font-size: $ldesktopHeadFontSize;
    line-height: $ldesktopHeadLineHeight
  }
  padding: 0;
  color: $light_text_color;
  font-family: $secondary_font;
  font-size: $rootHeadFontSize;
  line-height: $rootHeadLineHeight; 
  font-weight: 500;
  text-align: center;
}

// !VA This is different in Light.module.scss
// !VA Home page H2 heading
.content_subhead {
  @include mphone {
    padding: 1rem 0 .313rem;
    font-size: $mphoneSubheadFontSize;
    line-height: $mphoneSubheadLineHeight; 
  }
  @include lphone {
    padding: 1rem 0 .313rem;
    font-size: $lphoneSubheadFontSize;
    line-height: $lphoneSubheadLineHeight; 
  }
  @include tablet {
    padding: 1rem 0 .25rem;
    font-size: $tabletSubheadFontSize;
    line-height: $tabletSubheadLineHeight; 
  }
  @include desktop {
    padding: 1.25rem 0 .25rem;
    font-size: $desktopSubheadFontSize;
    line-height: $desktopSubheadLineHeight; 
  }
  @include ldesktop {
    padding: 1.25rem 0 .5rem;
    font-size: $ldesktopSubheadFontSize;
    line-height: $ldesktopSubheadLineHeight; 
  }
  padding: 1rem 0 0;
  color: $light_text_color;
  font-family: $secondary_font;
  font-size: $rootSubheadFontSize;
  line-height: $rootSubheadLineHeight; 
  font-weight: 500;
  text-align: left;
}

// !VA COMMON: content_text, content_list-item common styles
// !VA 2024.04.05 blob_header_description not found in js, removed
.content_text, .content_list_item {
  @include mphone {
    padding: .25rem 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  @include lphone {
    padding: .25rem 0;
    font-size: 1.188rem;
    line-height: 1.75rem;
  }
  @include tablet {
    padding: .375rem 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  @include desktop {
    padding: .25rem 0;
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 2.125rem;
  }
  @include ldesktop {
    padding: .25rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
  padding: .5rem 0 0 0;
  font-family: $primary_font;
  color: $light_text_color;
  font-size: $rootTextFontSize;
  font-weight: 400;
  line-height: $rootTextLineHeight;
  text-align: left;
}

.content_text {
   // !VA Moved to common
}

.content_list_no_bullet {
  list-style: none;
}

.content_list_item {
  @include mphone {
    text-indent: -1.5rem;
    padding-left: 1.5rem;
  }
  @include lphone {
    text-indent: -1.5rem;
    padding-left: 1.5rem;
  }
  @include tablet {
    padding: .25rem 0;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
  }
  @include desktop {
    padding: .25rem 0;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
  }
  @include ldesktop {
    line-height: 2.5rem;
    text-indent: -2rem;
    padding-left: 2rem;
  }
  text-indent: -1.5rem;
  padding-left: 1.5rem;
}

.content_list_item_svg {
  @include ldesktop {
    font-size: 1.5rem;
  }
  margin-right: .5rem;
  vertical-align: -2px;
  color: $primary_color;
  font-size: 1rem;
}

// !VA 2024.04.05 What's the diff between all these figure styles?
.figure_float_right {
  @include mphone {
    margin: .5rem auto .75rem;
    padding: 0;
  }
  @include lphone {
    margin: .5rem auto .75rem;
    // width: 80%;
    max-width: 360px;
  }
  @include tablet {
    width: 45%;
    max-width: 360px;
    margin: .25rem 1rem 1rem 2rem;
    // !VA NOW
    // margin: 0 auto 2rem;
    float: right;
  }
  @include desktop {
    width: 35%;
    margin: .5rem 2rem 1rem;
    float: right;
  }
  @include ldesktop {
    width: 420px;
    margin: .5rem 3rem 2rem;
    float: right;
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem 0 .75rem;
}


// !VA 2024.04.05 What's the diff between this and figure_small_image
.figure_small {
  @include mphone {
    margin: 1rem .25rem .75rem 1rem;
    width: 40%;
    max-width: 360px;
  }
  @include lphone {
    margin: 1rem auto .75rem;
    width: 40%;
    max-width: 360px;
  }
  @include tablet {
    width: 30%;
    max-width: 360px;
    margin: .25rem 1rem 1rem 1rem;
    // !VA NOW
    // margin: 0 auto 2rem;
    float: right;
  }
  @include desktop {
    width: 30%;
    margin: .5rem 2rem 1rem;
    float: right;
  }
  @include ldesktop {
    width: 25%;
    margin: .5rem 3rem 2rem;
    float: right;
  }

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 0 .5rem;
  width: 120px;
  height: auto;
  float: right;
}

// !VA 2024.04.05 figure_small_image is the img, figure_small is the container
.figure_small_image {
  @include lphone {
    width: 150px;
    border: 4px solid #FFF;
  }
  @include tablet {
    width: 210px;
    border: 4px solid #FFF;
  }
  @include desktop {
    width: 260px;
    border: 6px solid #FFF;
  }
  @include ldesktop {
    width: 300px;
    border: 8px solid #FFF;
  }
  width: 120px;
  height: auto;
  border: 3px solid white;
}

.figure_image {
  @include mphone {
    // Fill this 
  }
  @include lphone {
    // Fill this
  }
  @include tablet {
    width: 100%;
    border: 8px solid #FFF;
  }
  @include desktop {
    width: 100%;
    border: 8px solid #FFF;
  }
  @include ldesktop {
    width: 100%;
    border: 8px solid #FFF;
  }
border: 8px solid #fff;
width: 80%;
height: auto;
}

.figure_caption {
  @include mphone {
    font-size: 1rem;
  }
  @include lphone {
    font-size: 1rem;
  }
  @include tablet {
    font-size: 1.125rem;
    text-align: center;
  }
  @include desktop {
    padding: 0 1rem;
    font-size: 1.188rem;
  }
  @include ldesktop {
    font-size: 1.25rem;
    line-height: 1.588rem;
  }
color: $light_text_color;
font-size: 1rem;
font-weight: 300;
line-height: 1.25rem;
padding: 0 .5rem;
text-align: center;
}

