/* stylelint-disable comment-empty-line-before */
@import './mixins/mediaqueries.scss';
@import './variables.scss';
@import './react-tabs.scss';
@import './survey.scss';

.dvred {
  background: red;
}
.dvblu {
  background: blue;
}
.dvgrn {
  background: green;
}

// !VA body/html styles
// !VA I can't remember what this is for.
html{scroll-behavior: smooth;}

// !VA Section styles
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  // padding-bottom: .5rem;
  background: $content_bg_color;
}

// !VA In Home, section_content lives on the $primary_color background set in .section. None of the other pages have this two-toned scheme, at least for now. 
.section_content {
  display: block;
  margin: 0 auto;
  // !VA On the Home page, we don't want rounded edges or a 'card' for the content sections, so close up all the spaces 
  width: 100%;
  // margin-top: .25rem;
  // padding:  0 0 .5rem;
  background: $content_bg_color;
}



