@import './variables.scss';


.top-links {
  display: flex;
  justify-content: center;

  color: blue;
  font-weight: bold;
  a {
    margin: 10px;
    padding: 0 10px;
  }
}

// !VA Survey wrapper 
.survey-wrapper {
  // !VA Nothing here
}


// !VA Survey container - background color is inherited from survey-wrapper
// ----------------------------------------------------------
.sd-container-modern {
    background: $home_bg_color;
}




// !VA Survey body
// -------------------------------------------------------------------------
// !VA  -- background, top and bottom padding, margins, max-width, centered with margin: 0 by default
.survey-wrapper .sd-body.sd-body--static {
  // !VA Width does nothing.
  // width: 1000px!important;
  // !VA 720 by default, probably for tablets
  max-width: 1000px;
  // !VA Mod 6->3, 10 -> 6
  padding-top: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  padding-bottom: calc(6 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  
  @include sphone {
    padding: 4px 0 10px !important;
    margin-top: -6px !important;
  }
}


// !VA Survey page
// -------------------------------------------------------------------------
// Left/right padding between page and wrapper
.survey-wrapper .sd-page {
  // !VA Nothing yet
}
  
// !VA Survey panel
// ----------------------------------------------------------
// !VA Horiz padding within panel between panel and page
.survey-wrapper .sd-panel {

}

// !VA Top panel margin, i.e. directly above the introHeading
.survey-wrapper .sd-panel__content {
  // --sd-base-padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-padding: calc(3 * var(--sjs-base-unit, var(--base-unit, 8px)));
  

}



// !VA sets row top margins, 
// !VA does not set padding, bottom margins
.survey-wrapper .sd-row {
  // --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(2* var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA Survey content
// ----------------------------------------------------------
// !VA Default overrides
// ---------------------

// !VA es-question: Default vertical padding between question ITEMS, not between questions
.survey-wrapper .sd-question {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));

}

.survey-wrapper .sd-question input {
  // padding: calc(1.5 * (var(--sjs-base-unit, var(--base-unit, 8px)))) calc(2 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  padding: calc(.75 * (var(--sjs-base-unit, var(--base-unit, 8px)))) calc(2 * (var(--sjs-base-unit, var(--base-unit, 8px))));
}

// !VA Individual element overrides
// ---------------------



// !VA Survey Title
// !VA livHeading, decHeading
.sd-question[data-name="lndgRootHeading"] h2, .sd-question[data-name="lvngRootHeading"] h2, .sd-question[data-name="dcsdRootHeading"] h2 {
  font-family: $secondary_font;
  font-size: 1.75rem;
  margin: 0!important;
  padding: 0!important;
}

// !VA liv
.sd-question[data-name="lndgRootText"] p, .sd-question[data-name="lvngRootText"] p, .sd-question[data-name="dcsdRootText"] p {
  margin: 0!important;
  padding: 0!important;
  padding-bottom: .5rem !important;
}

// !VA livText, decText: Padding above introText to reduce space between introText and introHeading
.sd-row:has(> div > .sd-question[data-name="lvngRootText"]), .sd-row:has(> div > .sd-question[data-name="dcsdRootText"]) {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));

}

// !VA userContact: Padding above userContact to reduce space between info link and label
.sd-row:has(> div > .sd-question[data-name="lvngUserContact"]), 
.sd-row:has(> div > .sd-question[data-name="dcsdUserContact"]) {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA userContact: Padding above userContact to reduce space between info link and label
 .sd-question[data-name="lvngUserContact"], .sd-question[data-name="dcsdUserContact"] {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

.sd-question[data-name="animalType"] .sv-title-actions {
  // background: rgba(0, 0, 255, .3) !important; //devblue
  // display: block;
  // text-align: center!important;
}

.sd-question[data-name="animalType"] fieldset.sd-selectbase {
  position: relative;
  margin-left: -50px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

// !VA Remove outer border around ...CompDetailsPanel
.lvng-cmpn-details-panel.sd-element--nested-with-borders,
.dcsd-cmpn-details-panel.sd-element--nested-with-borders
 {
  border: none !important;
  /* Optional: remove box-shadow or outline if visible */
  box-shadow: none !important;
  outline: none !important;
  // !VA Horizontal padding around subpanels. 0 makes it basically as if the parent panel weren't there, so the outer panel exists only for organization, not for layout.
  // --sd-base-padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}


// !VA Adjust the top and bottom paddings on ALL panel headers. That's going to be a problem later, probably.
.sd-panel__header {
    // padding: 0!important;
    // margin: 0!important;
    padding-top: 16px!important;
    padding-bottom: 0!important;
}


.sd-element__header--location-top {
    padding-bottom: calc(0 * var(--sd-base-vertical-padding));
    // background: rgba(0, 0, 255, .3) !important; //devblue

  }

// !VA It doesn't appear to be possible to get rid of the bottom border on the subpanel header
// !VA This is actually in the ::after pseudoelement.
.lvng-cmpn-details-subpanel-1 .sd-panel__header {

}






// !VA Special styling for the companion panel on the landing page;
.lndg-cmpn-details-panel {
  padding: 0!important;
  margin: 0!important;
  input {
    width: 320px;
  }
  .sd-panel__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // margin: 0 auto;
    margin-left: 20px;
    .sd-question {
      margin: 0 auto; 
    }
    .sd-question__header {
    padding-bottom: 10px;
    }
    .sd-imagepicker {
      width: 300px;
      justify-content: space-around;
      margin-left: 50px;
    }
  }
}

// !VA crossedOver header
// .sd-question[data-name="lndgCrossedOver"] .sd-question__header {

// }

// !VA Crossed over images container width
.sd-question[data-name="lndgCrossedOver"]  .sd-imagepicker  {

}



.lvng-cmpn-details-subpanel-1, .lvng-cmpn-details-subpanel-2, .lvng-cmpn-details-subpanel-3, .dcsd-cmpn-details-subpanel-1, .dcsd-cmpn-details-subpanel-2, .dcsd-cmpn-details-subpanel-3  {
 .sd-panel__content {
  padding: 0!important;
  margin: 0!important;
  display: flex;
 }
}

// !VA This is how you remove the panel border, but I like it better with the border
// .sd-element--nested-with-borders {
//   border: none !important;
//   /* Optional: remove box-shadow or outline if visible */
//   box-shadow: none !important;
//   outline: none !important;
// }

// !VA All liv subpanels
.lvng-cmpn-details-subpanel-1, .lvng-cmpn-details-subpanel-2, .lvng-cmpn-details-subpanel-3, .dcsd-cmpn-details-subpanel-1, .dcsd-cmpn-details-subpanel-2, .dcsd-cmpn-details-subpanel-3 {
  // !VA Sets margin on the subpanel's children, otherwise they appear wonky with flex
  .sd-clearfix {
    margin: 10px !important;
  }
  // !VA Sets the padding between the switch and the outer border
  .sd-boolean {
    // padding: calc(0.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    padding: calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }
  // !VA Sets the height of the boolean element
  .sd-boolean__label, .sd-boolean__thumb {
    // line-height: calc(.5 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
    line-height: calc(1 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
  }
}

.sd-question[data-name="livCompAgeYears"], .sd-question[data-name="livCompAgeMonths"], .sd-question[data-name="livCompWeight"] {
  input {
    width: 200px!important;
  }
}

// !VA Hide the Excitable rating title, if you leave it out it displays the element name
.sd-question[data-name="lvngCmpnExcitable"] .sd-title {
  display: none;
}

// !VA Reduce top padding on Ratings numbers
.lvng-cmpn-details-subpanel-4 {
    .sd-panel__content {
      padding-top: 10px; 
    }
}


// !VA Add an icon or image to the panel headers
// .sd-panel__header::before {
//     content: "";
//     // position: absolute;
//   display: inline-block;
//   /* Optional size */
//   // "../../public/img-info-icon.png"
//   background-image: url("../../public/img-info-icon.png");
//   width: 18px;
//   height: 18px;
//   background-size: contain;       /* Or: cover */
//   background-repeat: no-repeat;
// }

// !VA Display the icon and 
.sd-panel__header {
  display: flex;
    // padding: 0!important;
    // margin: 0!important;
}

// !VA Clear the bottom border in the subpanel title 
.sd-panel__header::after { 
  content: none !important;
  display: none !important;
  border: none !important;
  background: none !important;
  height: 0 !important;
  margin: 0 !important;
}



// !VA HTML content

.survey-wrapper .sd-html h3 {
  font-family: $secondary_font;
  font-size: 1.5rem;
}

// !VA Any p text in an html type 
.survey-wrapper .sd-html p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.sd-html .survey-info-icon {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}

.sd-html .survey-info-link {
  font-size: .75rem;
  color: #B70B0C;
  font-weight: bold;
  text-decoration: none;
}