@import './variables.scss';

// !VA Landing Page
// !VA Version info

.landing-survey-test-container {
  display: flex;
  justify-content: right;
  padding: 0!important;
  margin: 0 40px 0 0!important;
  // display: none;
}

.landing-survey-test {
  padding: 0!important;
  margin: 0!important;
  font-family: $secondary_font!important;
  color: #353535!important;
  font-size: .913rem!important;
  line-height: 1.25rem!important;
  // display: none;
}






// !VA Survey container - background color is inherited from survey-wrapper
// ----------------------------------------------------------
.sd-container-modern {
    background: $home_bg_color;
}




// !VA Survey body
// -------------------------------------------------------------------------
// !VA  -- background, top and bottom padding, margins, max-width, centered with margin: 0 by default
.survey-wrapper .sd-body.sd-body--static {
  // !VA Width does nothing.
  // width: 1000px!important;
  // !VA 720 by default, probably for tablets
  max-width: 1000px;
  // !VA Mod 6->3, 10 -> 6
  padding-top: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  padding-bottom: calc(6 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  
  @include sphone {
    padding: 4px 0 10px !important;
    margin-top: -6px !important;
  }
}


// !VA Survey page
// -------------------------------------------------------------------------
// Left/right padding between page and wrapper
.survey-wrapper .sd-page {
  // !VA Nothing yet
}
  
// !VA Survey panel
// ----------------------------------------------------------
// !VA Horiz padding within panel between panel and page
.survey-wrapper .sd-panel {
  // !VA Nothing yet
}



// !VA 2025.12.19 OK for now
// !VA sets row top margins, does not set padding, bottom margins
.survey-wrapper .sd-row {
  // --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(2* var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA Survey content
// ----------------------------------------------------------
// !VA Default overrides
// ---------------------

// !VA 2025.12.19 OK
// !VA es-question: Default vertical padding between question ITEMS, not between questions
.survey-wrapper .sd-question {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA Panel title font
// !VA Deprecated element name
.sd-panel[data-name="lvngRootVerificationPanel"],
.sd-panel[data-name="lvngRootAboutUserPanel"] {
  .sd-panel__title span {
    font-family: $secondary_font;
    font-size: 1.25rem!important;
  }
}






// !VA Set top and bottom padding on dropdowns 0 to match the shorter input height. Leave the horizontal padding base units.
.survey-wrapper .sd-dropdown {
    padding: calc(0 * (var(--sjs-base-unit, var(--base-unit, 8px)))) calc(2 * (var(--sjs-base-unit, var(--base-unit, 8px))));
}

// !VA 2025.12.19 ???
// !VA Deprecated element names
.sd-question[data-name="animalType"]
{
  fieldset.sd-selectbase {
  position: relative;
  margin-left: -50px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  }
}
// !VA Deprecated element names
.sd-question[data-name="lvngRootUserGender"],
.sd-question[data-name="lvngRootUserAge"],

{
  fieldset.sd-selectbase {
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 10px;
  }
}




// !VA Deprecated element names
// !VA 2025.12.19 ???
// !VA Remove outer border around ...CompDetailsPanel
.lvng-cmpn-details-panel.sd-element--nested-with-borders,
.dcsd-cmpn-details-panel.sd-element--nested-with-borders
 {
  border: none !important;
  /* Optional: remove box-shadow or outline if visible */
  box-shadow: none !important;
  outline: none !important;
  // !VA Horizontal padding around subpanels. 0 makes it basically as if the parent panel weren't there, so the outer panel exists only for organization, not for layout.
  // --sd-base-padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}




.sd-element__header--location-top {
    padding-bottom: calc(0 * var(--sd-base-vertical-padding));
    // background: rgba(0, 0, 255, .3) !important; //devblue

  }

// !VA It doesn't appear to be possible to get rid of the bottom border on the subpanel header
// !VA This is actually in the ::after pseudoelement.
// .lvng-cmpn-details-subpanel-1 .sd-panel__header {

// }

// !VA Deprecated element names
// !VA Special styling for the companion panel on the landing page;
.lndg-cmpn-details-panel {
  padding: 0!important;
  margin: 0!important;
  input {
    width: 320px;
  }
  .sd-panel__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // margin: 0 auto;
    margin-left: 20px;
    .sd-question {
      margin: 0 auto; 
    }
    .sd-question__header {
    padding-bottom: 10px;
    }
    .sd-imagepicker {
      width: 300px;
      justify-content: space-around;
      margin-left: 50px;
    }
  }
}


// !VA Appears to be deprecated...I don't even know where that class came from.
.srvy-flex-row {
  // !VA Sets margin on the subpanel's children, otherwise they appear wonky with flex
  .sd-clearfix {
    margin: 10px !important;
  }
  // !VA Sets the padding between the switch and the outer border
  .sd-boolean {
    // padding: calc(0.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    padding: calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }
  // !VA Sets the height of the boolean element
  .sd-boolean__label, .sd-boolean__thumb {
    // line-height: calc(.5 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
    line-height: calc(1 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
  }
}

// !VA This class appears to be deprecated
.srvy-flex-row {
  .sd-panel__content, .sd-selectbase {
    padding: 0!important;
    margin: 0!important;
    display: flex;
 }
}

// !VA Deprecated element name
.sd-question[data-name="lvngInfoSources"] {
  .sd-selectbase {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal columns */
    grid-template-rows: 1fr 1fr;    /* 2 equal rows */
    gap: 1rem;       
  }
}

// !VA This is how you remove the panel border, but I like it better with the border
// .sd-element--nested-with-borders {
//   border: none !important;
//   /* Optional: remove box-shadow or outline if visible */
//   box-shadow: none !important;
//   outline: none !important;
// }

// !VA CUSTOM INPUT WIDTHS
// ---------------------------
// !VA Deprecated element name
// !VA 200px
.sd-question[data-name="lvngCmpnAgeYears"], 
.sd-question[data-name="lvngCmpnAgeMonths"], 
.sd-question[data-name="lvngCmpnWeight"] {
  input {
    width: 200px!important;
  }
}

// !VA 320px
// !VA Deprecated element name
.sd-question[data-name="lvngRootUserName"],
.sd-question[data-name="lvngRootUserContactTypeEmail"],
{
  input {
    width: 320px;
  }
} 

// !VA 500px
// !VA Deprecated element name
.sd-question[data-name="lvngRootUserContactTypeEmail"],
.sd-question[data-name="lvngRootUserContactTypeFacebook"]
{
  input {
    width: 500px;
  }
} 


// !VA Hide the Excitable rating title, if you leave it out it displays the element name
// !VA Deprecated element name
.sd-question[data-name="lvngCmpnDemeanor"] .sd-title {
  display: none;
}

// !VA Deprecated class name
// !VA Reduce top padding on Ratings numbers
.lvng-cmpn-details-subpanel-4 {
    .sd-panel__content {
      padding-top: 10px; 
    }
}

// !VA Clear the bottom border in the subpanel title 
.sd-panel__header::after { 
  content: none !important;
  display: none !important;
  border: none !important;
  background: none !important;
  height: 0 !important;
  margin: 0 !important;
}


// !VA 2025.12.19 Changes as of today
// =====================================

// !VA Global JSSurvey style overrides
// -----------------------------------

// !VA Boolean switch: global size mods
// !VA Sets the padding between the switch and the outer border
.survey-wrapper .sd-boolean {
  // padding: calc(0.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  padding: calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px))));
}
// !VA Sets the height of the boolean element
.survey-wrapper .sd-boolean__label, .survey-wrapper .sd-boolean__thumb {
  // line-height: calc(.5 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
  line-height: calc(1 * (var(--sjs-font-editorfont-size, var(--sjs-font-size, 16px))));
}


// !VA 
.sd-panel[data-name="lvngRootAboutSurveyPanel"] {
  .sd-panel__content {
    display: flex;
    justify-content: space-between;
    // !VA This only applies to top padding, bottom is determined by vertical-padding
    --sd-base-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));
    .sd-row {
        margin: 0!important;
    }
  }
}

// !VA 2025.12.19 
// !VA sd-html element overrides.
// -------------------------------
.survey-wrapper .sd-html h2 {
  font-family: $secondary_font;
  font-size: var(--sjs-article-font-x-large-fontSize, calc(1.875 * (var(--sjs-font-size, 16px))));
  line-height: calc(2.125 * (var(--sjs-font-questiontitle-size, var(--sjs-font-size, 16px))));

}

// !VA OVERRIDES default h2 for sd-html elements.
.survey-wrapper .sd-html h3 {
  font-family: $secondary_font;
  font-size: var(--sjs-article-font-x-large-fontSize, calc(1.5 * (var(--sjs-font-size, 16px))));
  line-height: calc(1.75 * (var(--sjs-font-questiontitle-size, var(--sjs-font-size, 16px))));
}

// !VA OVERRIDES default p for sd-html elements
.survey-wrapper .sd-html {
  p, li {
      font-size: 1.125rem;
      line-height: 1.613rem;
      padding-bottom: .5rem !important;
  }
  li {
    margin-left: 1.5rem;
  }
}

// !VA INFO icons and links
// --------------------------
// !VA .srvy-general-info is the div wrapper that lives inside the HTML element for general info, i.e. info that's not attached to a question label.
.survey-wrapper .srvy-general-info {
  // !VA Defaults
}

.survey-wrapper .srvy-info-icon {
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}

.survey-wrapper .srvy-info-link {
  font-size: 1rem;
  color: #B70B0C;
  font-weight: 600;
  text-decoration: none;
}

// !VA Position info label on inputs or other question elements absolutely and move it down 18px. .srvy-input-info is the div wrapper that lives inside the HTML element.
// !VA IMPORTANT -- not sure if this is doing to work.
.survey-wrapper .srvy-question-info {
  position: absolute;
  bottom: -16px;
}

.survey-wrapper .srvy-question-info .srvy-info-icon {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}

.survey-wrapper .srvy-question-info .srvy-info-link {
  font-size: .813rem;
  color: #B70B0C;
  font-weight: bold;
  text-decoration: none;
}


// !VA This grid layout looks terrible because the element titles are too long and wrap strangely. Just use default column display, but reduce the text field width 
// .sd-panel[data-name="lvngRootAboutUserPanel"] {
// .sd-panel__content {
//   display: grid;
//   grid-template-columns: 1fr 1fr; /* 2 equal columns */
//   grid-template-rows: 1fr 1fr;    /* 2 equal rows */
//   gap: 1rem;                      /* optional spacing between items */
//   }
//     .sd-row {
//     padding: 0!important;
//     margin: 0!important;
//   }
// }

[data-name="CmpnInfoDetailsPanel"] > .sd-element__content.sd-panel__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}