@import './variables.scss';

// !VA Survey wrapper 
.survey-wrapper {
  // !VA Nothing here
}


// !VA Survey container - background color is inherited from survey-wrapper
// ----------------------------------------------------------
.sd-container-modern {
    background: $content_bg_color;
}




// !VA Survey body
// -------------------------------------------------------------------------
// !VA  -- background, top and bottom padding, margins, max-width, centered with margin: 0 by default
.survey-wrapper .sd-body.sd-body--static {
  // !VA Width does nothing.
  // width: 1000px!important;
  // !VA 720 by default, probably for tablets
  max-width: 1000px;
  // !VA Mod 6->3, 10 -> 6
  padding-top: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  padding-bottom: calc(6 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  
  @include sphone {
    padding: 4px 0 10px !important;
    margin-top: -6px !important;
  }
}


// !VA Survey page
// -------------------------------------------------------------------------
// Left/right padding between page and wrapper
.survey-wrapper .sd-page {
  background: rgba(255, 0, 0, .3) !important; //devred
}
  
// !VA Survey panel
// ----------------------------------------------------------
// !VA Horiz padding within panel between panel and page
.survey-wrapper .sd-panel {


}

.survey-wrapper .sd-panel__content {
  // --sd-base-padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-padding: calc(2* var(--sjs-base-unit, var(--base-unit, 8px)));
  

}



// !VA sets row top margins, 
// !VA does not set padding, bottom margins
.survey-wrapper .sd-row {
  // !VA Works
  // margin-top: 0;
}

// !VA Survey content
//---------------------

// !VA Survey Title
// !VA sd-question is any question content. This targets only the survey_heading element.
.sd-question[data-name="survey_heading"] h2 {
  font-family: $secondary_font;
  font-size: 2rem;
  margin: 0!important;
  padding: 0!important;
}


// !VA HTML content

// !VA Any p text in an html type 
.survey-wrapper .sd-html p {
  font-size: 1.25rem;
}

.sd-html .survey-info-icon {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}

.sd-html .survey-info-link {
  font-size: .75rem;
  color: #B70B0C;
  font-weight: bold;
  text-decoration: none;
}