@import './variables.scss';

// !VA Survey wrapper 
.survey-wrapper {
  // !VA Nothing here
}


// !VA Survey container - background color is inherited from survey-wrapper
// ----------------------------------------------------------
.sd-container-modern {
    background: $home_bg_color;
}




// !VA Survey body
// -------------------------------------------------------------------------
// !VA  -- background, top and bottom padding, margins, max-width, centered with margin: 0 by default
.survey-wrapper .sd-body.sd-body--static {
  // !VA Width does nothing.
  // width: 1000px!important;
  // !VA 720 by default, probably for tablets
  max-width: 1000px;
  // !VA Mod 6->3, 10 -> 6
  padding-top: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  padding-bottom: calc(6 * (var(--sjs-base-unit, var(--base-unit, 8px)))) !important;
  
  @include sphone {
    padding: 4px 0 10px !important;
    margin-top: -6px !important;
  }
}


// !VA Survey page
// -------------------------------------------------------------------------
// Left/right padding between page and wrapper
.survey-wrapper .sd-page {
  // !VA Nothing yet
}
  
// !VA Survey panel
// ----------------------------------------------------------
// !VA Horiz padding within panel between panel and page
.survey-wrapper .sd-panel {

}

// !VA Top panel margin, i.e. directly above the introHeading
.survey-wrapper .sd-panel__content {
  // --sd-base-padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-padding: calc(3 * var(--sjs-base-unit, var(--base-unit, 8px)));
  

}



// !VA sets row top margins, 
// !VA does not set padding, bottom margins
.survey-wrapper .sd-row {
  // --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(2* var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA Survey content
//---------------------

// !VA sd-question
.survey-wrapper .sd-question {
  // !VA Default vertical padding between question ITEMS, not between questions
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(1 * var(--sjs-base-unit, var(--base-unit, 8px)));

}

// !VA sd-imagepicker
// !VA  

.sd-question[data-name="crossedOver"] {
}

.sd-question[data-name="crossedOver"] .sd-question__header {
  // text-align: center;
  padding-bottom: 10px;
}

.sd-question[data-name="crossedOver"]  .sd-imagepicker  {
  width: 400px;
  justify-content: space-around;
  margin: 0 auto;
}

// !VA Survey Title
// !VA introHeading
.sd-question[data-name="introHeading"] h2 {
  font-family: $secondary_font;
  font-size: 1.75rem;
  margin: 0!important;
  padding: 0!important;
}

// !VA introText
.sd-question[data-name="introText"] p {
  margin: 0!important;
  padding: 0!important;
}

// !VA introText: Padding above introText to reduce space between introText and introHeading
.sd-row:has(> div > .sd-question[data-name="introText"]) {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));

}

// !VA userContact: Padding above userContact to reduce space between info link and label
.sd-row:has(> div > .sd-question[data-name="userContact"]) {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

// !VA userContact: Padding above userContact to reduce space between info link and label
 .sd-question[data-name="userContact"] {
  // --sd-base-vertical-padding: calc(4 * var(--sjs-base-unit, var(--base-unit, 8px)));
  --sd-base-vertical-padding: calc(0 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

.sd-question[data-name="animalType"] .sv-title-actions {
  // background: rgba(0, 0, 255, .3) !important; //devblue
  // display: block;
  // text-align: center!important;
}

// .survey-wrapper .sd-title  {
//   align-items: center!important;
//   text-align: center!important;
//   background: rgba(0, 128, 0, .3) !important; //devgreen
// }





// !VA HTML content

.survey-wrapper .sd-html h3 {
  font-family: $secondary_font;
  font-size: 1.5rem;
}

// !VA Any p text in an html type 
.survey-wrapper .sd-html p {
  font-size: 1.25rem;
}

.sd-html .survey-info-icon {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}

.sd-html .survey-info-link {
  font-size: .75rem;
  color: #B70B0C;
  font-weight: bold;
  text-decoration: none;
}